div {
  width: 100%;
  padding: 0;
  margin: 0;
}
article {
  text-align: center;
  line-height: 40px;
  height: 40px;
  background-color: #9918D3;
  margin-bottom: 0;
}
#edit {
  height: 300px;
  width: 100%;
  margin-top: 0;
  background-color: #39e37b;
}
#preview {
  height: auto;
  min-height: 250px;
  margin-top: 20px;
  background-color: #39e37b;
}
textarea {
  border-width: 0;
}
